@font-face {
    font-family: 'CiscoSans';
    src:url('../fonts/CiscoSansTTRegular.ttf');
    src:url('../fonts/CiscoSansTTRegular.eot') format('embedded-opentype'),
    url('../fonts/CiscoSansTTRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CiscoSansLight';
    src:url('../fonts/CiscoSansTTLight.ttf');
    src:url('../fonts/CiscoSansTTLight.eot') format('embedded-opentype'),
    url('../fonts/CiscoSansTTExtraLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'CiscoSansThin';
    src:url('../fonts/CiscoSansTTThin.ttf');
    src:url('../fonts/CiscoSansTTThin.eot') format('embedded-opentype'),
    url('../fonts/CiscoSansTTThin.woff') format('woff');
    font-style: normal;
    font-weight: 200;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

// Colors
$bg-color:    #F0F7FA;
$blue:        #6cb6ad;

h1{
  color: red;
}
